<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">

  <div style="padding-top:50px;">
    <h1>Hello <%= @host[:name] %></h1>
    <p>
      <%= @customer[:name] %> has accepted your invitation and send you a preference profile

    </p>
    <p> Thank you!</p>
  </div>

</div>
</body>
</html>