<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
  <h1>Thank you, <%= @customer.name %> !</h1>
  <hr>
  <p>
    You have successfully sent your preferences to smart menu

  </p>
  <p>Thanks for joining and have a great day!</p>

</div>
</body>
</html>